 #footer{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin-top: 70px;
}

#foot1{
    background-color:rgb(63,65,77);
    width: 100%;
    height: 150px;
    /* border: 1px solid black; */
    position: relative;
}

#in1foot1{
    /* border: 1px solid black; */
    width: 22%;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 150px;
}
#lnav3:hover{
    color: rgb(214, 41, 70);
}

#in1foot12{
    display: flex;
    color: white;
}
#in1foot12 i{
font-size: 20px;
margin-top: 20px;
}

#in1foot12 h3{
    margin-left: 10px;
    margin-top: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#in1foot13 input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: white;
    background-color: rgb(63,65,77);
    padding: 8px 16px;
    color: white;
}

#in1foot13 input::placeholder {
    color: white;
   font-weight: 5px;
  }

  #in1foot13 button{
    padding: 7px 12px;
    font-size: large;
    background-color:rgb(63,65,77);
    color: white;
    margin-left: 5px;
    border-color: white;
    border-width: 2px;
  }

  #in2foot1{
    width: 22%;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 550px;
    /* border: 1px solid black; */
  }

  #in2foot12{
    display: flex;
    color: white;
  }

  #in2foot12 i{
    font-size: 20px;
margin-top: 20px;
  }
  
#in2foot12 h3{
    margin-left: 10px;
    margin-top: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#in2foot13{
    display: flex;
}

#in2foot13 #img1{
    width: 100px;
    height: 60px;
    margin: auto;
    margin-top: -12px;
}
#in2foot13 #img2{
    width: 100px;
    height: 50px;
    margin: auto;
    margin-top: -5px;
    margin-left: -20px;
}

#in3foot1{
    width: 29%;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 950px;
    /* border: 1px solid black; */
}
#in3foot12{
    display: flex;
    color: white;
}
#in3foot12 i{
    font-size: 20px;
margin-top: 23px;
}
#in3foot12 h3{
    margin-left: 10px;
    margin-top: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#in3foot13 .sapnp{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}
#foot2{
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
    background-color:rgb(140,141,148);
}

#foot2in1{
    width: 20%;
    height: 400px;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
}
#foot2in1 img{
    width: 90px;
    height: 60px;
    margin-left: 100px;
   
}
#foot2in1 .sapn{
    margin-left: 100px;
    color: white;
}
#foot2in1 .sapn:hover{
    color: darkcyan;
}
#foot2in2{
    width: 20%;
    height: 400px;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
}
#foot2in3{
    width: 20%;
    height: 400px;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
}
#foot2in4{
    width: 20%;
    height: 400px;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
}
#foot2in5{
    width: 20%;
    height: 400px;
    /* border: 1px solid black; */
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
#foot2in2 .sapn,.sapnp{
    margin-left: 100px;
    color: white;
}
#foot2in3 .sapn,.sapnp{
    margin-left: 100px;
    color: white;
}
#foot2in4 .sapn,.sapnp{
    margin-left: 100px;
    color: white;
}
#foot2in5 .sapn, .sapnp{
    margin-left: 100px;
    color: white;
}
#foot2in2 .sapn:hover{
    color: darkcyan;
}
#foot2in3 .sapn:hover{
    color: darkcyan;
}
#foot2in4 .sapn:hover{
    color: darkcyan;
}
#foot2in5 .sapn:hover{
    color: darkcyan;
}
#foot3{
    width: 100%;
    height: 230px;
    /* border: 5px solid black; */
    display: flex;
    background-color: rgb(243,243,243);
    font-family: Arial, Helvetica, sans-serif;
}
#foot3in1{
width: 20%;
height: 230px;
/* border: 1px solid black; */
display: flex;
}

#foot3in1 div i{
 font-size: 30px;
 padding: 7px 7px;
 background-color: rgb(221,27,115);
 border-radius: 50%;
 color: white;
 margin-top: 80px;
 margin-left: 40px;
}

#foot3in1 div .sapnp{
    margin-top: 80px;
    color: black;
    margin-left: 15px;
}
#foot3in1 div .sapn{
  
    color: black;
    margin-left: 15px;
    margin-top: -10px;
}
#foot3in2{
    width: 20%;
    height: 230px;
    /* border: 1px solid black; */
    display: flex;
}
#foot3in3{
    width: 20%;
    height: 230px;
    /* border: 1px solid black; */
    display: flex;
}
#foot3in4{
    width: 20%;
    height: 230px;
    /* border: 1px solid black; */
    display: flex;
}
#foot3in5{
    width: 20%;
    height: 230px;
    /* border: 1px solid black; */

}
#foot3in5 .sapnee{
    margin-top: 80px;
    color: black;
    margin-left: 15px;
    font-size: 15px;
}
#foot3in5 div{
    font-size: 15px;
    letter-spacing: 4px;
    margin-left: 20px;
}

#foot3in2 div i{
    font-size: 30px;
    padding: 7px 7px;
    background-color: rgb(221,27,115);
    border-radius: 50%;
    color: white;
    margin-top: 80px;
    margin-left: 40px;
   }
   .sapnp{
    display: block;
    /* margin-block-start: 1.33em; */
    /* margin-block-end: 1.33em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    font-weight: bold;
    unicode-bidi: isolate;
   }
   #foot3in2 div .sapnp{
       margin-top: 80px;
       color: black;
       margin-left: 15px;
   }
   #foot3in2 div .sapn{
     
       color: black;
       margin-left: 15px;
       margin-top: -10px;
   }
   #foot3in3 div i{
    font-size: 30px;
    padding: 7px 7px;
    background-color: rgb(221,27,115);
    border-radius: 50%;
    color: white;
    margin-top: 80px;
    margin-left: 40px;
   }
   
   #foot3in3 div .sapnp{
       margin-top: 80px;
       color: black;
       margin-left: 15px;
   }
   #foot3in3 div .sapn{
     
       color: black;
       margin-left: 15px;
       margin-top: -10px;
   }
   #foot3in4 div i{
    font-size: 30px;
    padding: 7px 7px;
    background-color: rgb(221,27,115);
    border-radius: 50%;
    color: white;
    margin-top: 80px;
    margin-left: 40px;
   }
   
   #foot3in4 div .sapnp{
       margin-top: 80px;
       color: black;
       margin-left: 15px;
   }
   #foot3in4 div .sapn{
     
       color: black;
       margin-left: 15px;
       margin-top: -10px;
    font-size: 0.83em;

   }
   #foot4{
    width: 100%;
    height: 150px;
    background-color: rgb(252,39,121);

   }
   .sapn{
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
   } 

   #foot4last{
    width: 50%;
    display: flex;
    color: white;
    /* border: 1px solid black; */
    margin: auto;
    margin-left: 27%;
    gap: 60px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 0.83em; */

    
   }
   #foot4last1{
    width: 50%;
    display: flex;
    color: white;
    /* border: 1px solid black; */
    margin: auto;
    gap: 60px;
    font-family: Arial, Helvetica, sans-serif;
   
   }
   #foot4last1 .sapn{
    margin-left: 27%;
    /* font-size: 0.83em; */
   }

   #dropdown{
    width: 76%;
    height: 450px;
    border: 5px solid black;
    /* display: none; */
    margin-left: 170px;
    margin-top: -60px;

   }

  #n{
    width: 100%;
    height: 130px;
    /* border: 1opx solid black; */
  }