#parent {
  background-color: #f3f3f3;
}
#HairTools {
  width: 100%;
  text-align: center;
}
.link{
  text-decoration: none;
}
#G-slide {
  background-color: none;
  width: 80%;
  margin: auto;
}
#G-slide .carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  padding: 40px;
}
#G-slide .carousel-control-prev-icon {
  background-color: black;
  border-radius: 50%;
  padding: 40px;
}
#mainProd {
  width: 100%;
  margin-top: 1%;
}
#G-lable {
  width: 100%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 0;
}

#area {
  width: 80%;
  margin: auto;
  display: flex;
}
.FILTERANDSORT {
  width: 23%;
  height: 800px;
  position: sticky;
  top: 150px;
}
#PRODUCT {
  width: 70%;
  margin-left: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.card {
  background-color: white;
  text-align: center;
  /* height: 400px; */
  min-width: 400px;
  border: 1px solid;
  transition : 0.3s ease-in-out;
  
}
#addToBag {
  height: 60px;
  width: 100%;
  border-top: 1px solid rgb(229, 223, 223);
  background-color: white;
  display: flex;
  visibility: hidden;
  position : relative;
  top : -140px;
  opacity : 0;
}

.card:hover #addToBag {
  visibility: visible;
  transition-delay: 0.2s;
  opacity : 1;
  top : 0px;
}

#G-five,
#G-des {
  background-color: white;
}
#G-five {
  color: green;
  font-size: 11px;
  text-align: left;
  padding: 10px 0px 0px 10px;
  width: 100%;
}
.ratingnum {
  font-size: 16px;
}
#G-img {
  width: 90%;
  background-color: white;
  margin: auto;
}
#G-img > img {
  width: 100%;
}
#price {
  color: grey;
  background-color: white;
}
#ear {
  text-decoration: line-through;
  color: grey;
  background-color: white;
}
#G-real {
  color: black;
  background-color: white;
}
#Price-Div {
  background-color: white;
}
#G-OFF {
  background-color: white;
  color: green;
}
#rating {
  background-color: white;
  padding-top: 5px;
}


#hert {
  width: 35%;
  height: 10px;
}
#add {
  width: 80%;
  background-color: #fc2779;
  align-items: center;
  justify-content: center;
  align-items: center;
}
#add1 {
  width: 100%;
  padding-top: 12%;
  background-color: #fc2779;
}
#add1 > h5 {
  background-color: #fc2779;
  color: white;
}

#heart {
  color: #fc2779;
  font-size: 42px;
  background-color: white;
}

#hert {
  background-color: white;
}

#sortTag {
  width: 100%;
  background-color: white;
  height: 60px;
  font-size: 20px;
  text-align: center;
}
#catF {
  width: 100%;
  background-color: white;
  height: 60px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

#catF > option,
#sortTag > option {
  background-color: white;
}
