/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.navbar {
  width: 100%;
  height: 90px;
  background: linear-gradient(90deg, #000000, #1a1a1a);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* CONTAINER */
.nav-container {
  width: 95%;
  max-width: 1350px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-logo:hover {
  transform: scale(1.08);
}

.nav-logo img {
  height: 85px; /* BIGGER LOGO */
  width: auto;
}

.nav-logo span {
  color: #f5c400;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.2px;
  transition: transform 0.3s ease;
}

/* MENU */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 38px;
}

/* MENU LINKS */
.nav-links li {
  position: relative;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 6px;
  transition: color 0.3s ease;
}

/* UNDERLINE EFFECT */
.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #f5c400;
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links li a:hover {
  color: #f5c400;
}

/* BOOK BUTTON */
.book-btn::after {
  display: none;
}

.book-btn a {
  background: #f5c400;
  color: #000;
  padding: 11px 26px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}

.book-btn a:hover {
  background: #ffd84d;
  color: red;
}

/* MOBILE MENU ICON */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  background: #f5c400;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .navbar {
    height: 80px;
  }

  .nav-logo img {
    height: 55px;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background: #000;
    width: 100%;
    flex-direction: column;
    gap: 25px;
    padding: 30px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-links li::after {
    display: none;
  }
}
